ul{
    border: 10px double orangered;
    background-color: yellowgreen;
   display: flex;
    padding: 10px;
    justify-content: flex-start;
    list-style-type: none;
    

}
a{
    
    border: 5px solid yellow;
    margin: 5px;
    text-decoration: double;
    padding: 2px;

   
}
li{
    
    text-decoration: none;
}
a:hover{
    background-color: yellow;
    padding: 5px;
}
.active{
    background-color: white;

}